BINANCE_API_KEY=1WY1HvDqRFKlQqzm7kZnK99wFEsS08NbmorSAl8tzVu2Xh1K2AM3UAv3Tnc2OFSQ_demo_api_key_here
BINANCE_SECRET_KEY=9FqndfP7GuGK2i94y94hzJ66BTBP1hc79Ic34kq34UGvZrbNcOdaVaCw2yiA3GdE_demo_secret_key_here
